<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Wastefull Technologies' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/slick.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/slick-theme.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/sample01.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/magnific-popup.css'/>


  </head>
  <body>
    <h1><%= 'Wastefull Technologies' %></h1>
    <p>Welcome to <%= 'Wastefull Technologies' %></p>
    <p>Hi, I'm daisuke. Smile. This is my portfolio of technology. Almost of those are "wastefull". Smile again(´･ω･`)
    </p>
    <h2> Face Memory (DCGAN)</h2>
    <p>AI see a lot of picture of a woman(Yuka Kawamura）, and remembered her face. Memories are often ambivalent.
       <br>So,those picture are only exist in AI's memory. She is beautifull.
    </p>
    <div class="mfp-iframe-scaler">
    <div>
    <a href="https://www.youtube.com/watch?v=5ijnWvTMW7w"><img src="/images/manyYuka.gif" ></a>
    </div>
    </div>
    <div class="fade parent-container">
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka_intro.png" width="356" height="434"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka1.png"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka2.png"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka3.png"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka_intro2.png" width="356" height="434"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka_memory1.png" width="356" height="434"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka_memory2.png" width="356" height="434"></a></div>
    <div><a href="/images/manyYuka.gif"/><img src="/images/yuka_memory3.png" width="356" height="class="parent-container"434"></a></div>
    </div>
　　<p>But sometimes, DCGAN remembers the woman as awful face. If you want to see a dirk side, click here ↓
   <div class="parent-container">
   <a href="/images/"/>∑((((((ﾟдﾟ;ﾉ)ﾉ</a>
   </div>
　　<br>--Special Thanks for Pakutaso and Yuka Kawamura.
    </p>

    <h2>Cat Face(DCGAN)</h2>
    <p>A picture by AI is hiding in real cats. Please search him if you can.</p>
    <div class="parent-container">
    <a href="/images/realcat1.jpg"/><img src="images/c1.png"></a>
    <a href="/images/realcat2.jpg"/><img src="images/c2.png"></a>
    <a href="/images/realcat3.jpg"/><img src="images/c3.png"></a>
    <a href="/images/realcat4.jpg"/><img src="images/c4.png"></a>
    <a href="/images/realcat5.jpg"/><img src="images/c5.png"></a>
<a href="/images/realcat6.jpg"/><img src="images/c6.png"></a>
<a href="/images/realcat7.jpg"/><img src="images/c7.png"></a>
<a href="/images/realcat8.jpg"/><img src="images/c8.png"></a>
<a href="/images/realcat9.jpg"/><img src="images/c9.png"></a>
<a href="/images/realcat10.jpg"/><img src="images/c10.png"></a>
<a href="/images/realcat11.jpg"/><img src="images/c11.png"></a>
<a href="/images/realcat12.jpg"/><img src="images/c12.png"></a>
<a href="/images/realcat13.jpg"/><img src="images/c13.png"></a>
<a href="/images/realcat14.jpg"/><img src="images/c14.png"></a>
<a href="/images/realcat15.jpg"/><img src="images/c15.png"></a>
<a href="/images/realcat16.jpg"/><img src="images/c16.png"></a>
<a href="/images/realcat17.jpg"/><img src="images/c17.png"></a>
<a href="/images/realcat18.jpg"/><img src="images/c18.png"></a>
<a href="/images/realcat19.jpg"/><img src="images/c19.png"></a>
<a href="/images/realcat20.jpg"/><img src="images/c20.png"></a>
<a href="/images/realcat21.jpg"/><img src="images/c21.png"></a>
<a href="/images/realcat22.jpg"/><img src="images/c22.png"></a>
<a href="/images/realcat23.jpg"/><img src="images/c23.png"></a>
<a href="/images/realcat24.jpg"/><img src="images/c24.png"></a>
<a href="/images/realcat25.jpg"/><img src="images/c25.png"></a>
<a href="/images/realcat26.jpg"/><img src="images/c26.png"></a>
<a href="/images/realcat27.jpg"/><img src="images/c27.png"></a>
<a href="/images/realcat28.jpg"/><img src="images/c28.png"></a>
<a href="/images/realcat29.jpg"/><img src="images/c29.png"></a>
<a href="/images/realcat30.jpg"/><img src="images/c30.png"></a>
<a href="/images/realcat31.jpg"/><img src="images/c31.png"></a>
<a href="/images/realcat32.jpg"/><img src="images/c32.png"></a>
<a href="/images/realcat33.jpg"/><img src="images/c33.png"></a>
<a href="/images/realcat34.jpg"/><img src="images/c34.png"></a>
<a href="/images/realcat35.jpg"/><img src="images/c35.png"></a>
<a href="/images/realcat36.jpg"/><img src="images/c36.png"></a>
<a href="/images/realcat37.jpg"/><img src="images/c37.png"></a>
<a href="/images/realcat38.jpg"/><img src="images/c38.png"></a>
<a href="/images/realcat39.jpg"/><img src="images/c39.png"></a>
<a href="/images/realcat40.jpg"/><img src="images/c40.png"></a>
<a href="/images/realcat41.jpg"/><img src="images/c41.png"></a>
<a href="/images/realcat42.jpg"/><img src="images/c42.png"></a>
<a href="/images/realcat43.jpg"/><img src="images/c43.png"></a>
<a href="/images/realcat44.jpg"/><img src="images/c44.png"></a>
<a href="/images/realcat45.jpg"/><img src="images/c45.png"></a>
<a href="/images/realcat46.jpg"/><img src="images/c46.png"></a>
<a href="/images/realcat47.jpg"/><img src="images/c47.png"></a>
<a href="/images/realcat48.jpg"/><img src="images/c48.png"></a>
<a href="/images/realcat49.jpg"/><img src="images/c49.png"></a>
<a href="/images/realcat50.jpg"/><img src="images/c50.png"></a>
<a href="/images/realcat51.jpg"/><img src="images/c51.png"></a>
<a href="/images/realcat52.jpg"/><img src="images/c52.png"></a>
<a href="/images/realcat53.jpg"/><img src="images/c53.png"></a>
<a href="/images/realcat54.jpg"/><img src="images/c54.png"></a>
<a href="/images/realcat55.jpg"/><img src="images/c55.png"></a>
<a href="/images/realcat56.jpg"/><img src="images/c56.png"></a>
<a href="/images/realcat57.jpg"/><img src="images/c57.png"></a>
<a href="/images/realcat58.jpg"/><img src="images/c58.png"></a>
<a href="/images/realcat59.jpg"/><img src="images/c59.png"></a>
<a href="/images/realcat60.jpg"/><img src="images/c60.png"></a>
<a href="/images/realcat61.jpg"/><img src="images/c61.png"></a>
<a href="/images/realcat6263.jpg"/><img src="images/c62.png"></a>
<a href="/images/realcat6263.jpg"/><img src="images/c63.png"></a>
<a href="/images/realcat64.jpg"/><img src="images/c64.png"></a>
<a href="/images/realcat65.jpg"/><img src="images/c65.png"></a>
<a href="/images/realcat66.jpg"/><img src="images/c66.png"></a>
<a href="/images/realcat67.jpg"/><img src="images/c67.png"></a>
<a href="/images/realcat68.jpg"/><img src="images/c68.png"></a>
<a href="/images/realcat69.jpg"/><img src="images/c69.png"></a>
<a href="/images/realcat70.jpg"/><img src="images/c70.png"></a>
<a href="/images/realcat71.jpg"/><img src="images/c71.png"></a>
<a href="/images/realcat72.jpg"/><img src="images/c72.png"></a>
<a href="/images/realcat73.jpg"/><img src="images/c73.png"></a>
<a href="/images/realcat74.jpg"/><img src="images/c74.png"></a>
<a href="/images/realcat75.jpg"/><img src="images/c75.png"></a>
<a href="/images/.jpg"/><img src="images/DCcat.gif"></a>
<a href="/images/realcat77.jpg"/><img src="images/c77.png"></a>
<a href="/images/realcat78.jpg"/><img src="images/c78.png"></a>
<a href="/images/realcat79.jpg"/><img src="images/c79.png"></a>
<a href="/images/realcat80.jpg"/><img src="images/c80.png"></a>
<a href="/images/realcat81.jpg"/><img src="images/c81.png"></a>
<a href="/images/realcat82.jpg"/><img src="images/c82.png"></a>
<a href="/images/realcat83.jpg"/><img src="images/c83.png"></a>
<a href="/images/realcat84.jpg"/><img src="images/c84.png"></a>
<a href="/images/realcat85.jpg"/><img src="images/c85.png"></a>
<a href="/images/realcat86.jpg"/><img src="images/c86.png"></a>
<a href="/images/realcat87.jpg"/><img src="images/c87.png"></a>
<a href="/images/realcat88.jpg"/><img src="images/c88.png"></a>
<a href="/images/realcat88.jpg"/><img src="images/c89.png"></a>
<a href="/images/realcat90.jpg"/><img src="images/c90.png"></a>
<a href="/images/realcat91.jpg"/><img src="images/c91.png"></a>
<a href="/images/realcat92.jpg"/><img src="images/c92.png"></a>
<a href="/images/realcat93.jpg"/><img src="images/c93.png"></a>
<a href="/images/realcat94.jpg"/><img src="images/c94.png"></a>
<a href="/images/realcat95.jpg"/><img src="images/c95.png"></a>
</div>
    <p>
    <div class="sample01"></div>
    </p>

    <p><img src="/images/daisuke.png" width="218" height="218">
　　 <a href="http://www.jdla.org/"/><img src="images/general2017_regular.png"></a>
    <a href="https://twitter.com/intent/tweet?screen_name=IFunnyDaisuke&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @IFunnyDaisuke</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="【ページのURL】" data-text="【ツイート本文】" data-via="【ユーザ名】" data-size="【ボタンのサイズ】" data-related="【ユーザ名】" data-count="【カウント表示の種類】" data-hashtags="【ハッシュタグ】">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p>

    <script type='text/javascript' src='/javascripts/anime.min.js'/></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'/></script>
    <script type='text/javascript' src='javascripts/slick.min.js'/></script>
    <script type='text/javascript' src='/javascripts/jquery.magnific-popup.js'/></script>
    <script type='text/javascript'/>
$('.fade').slick({
dots: true,
infinite: true,
autoplay: true,
autoplaySpeed: 2000,
speed: 500,
fade: true,
cssEase: 'linear'
});
    </script>

    <script type='text/javascript'/>
anime({
targets: '.sample01',
translateX: 1000
});
   </script>


    <script type='text/javascript'/>
$('.parent-container').magnificPopup({
delegate: 'a', // child items selector, by clicking on it popup will open
type: 'image'
// other options
});
    </script>

    <script type='text/javascript'/>
iframe: {
markup: '<div class="mfp-iframe-scaler">'+
'<div class="mfp-close"></div>'+
'<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
'</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button

patterns: {
youtube: {
index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).

id: 'v=', // String that splits URL in a two parts, second part should be %id%
// Or null - full URL will be returned
// Or a function that should return %id%, for example:
// id: function(url) { return 'parsed id'; }

src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe.
},
vimeo: {
index: 'vimeo.com/',
id: '/',
src: '//player.vimeo.com/video/%id%?autoplay=1'
},
gmaps: {
index: '//maps.google.',
src: '%id%&output=embed'
}

// you may add here more sources

},

srcAction: 'iframe_src', // Templating object key. First part defines CSS selector, second attribute. "iframe_src" means: find "iframe" and set attribute "src".
}
   </script>
   </body>
</html>
